//BUTTON RESETS
.menu-item, .btn {
  width:auto;
  height:40px;
  line-height:45px;
  padding:0px 10px;
  margin:0 5px 0 0;
  font-size: 24px;
  color: $brand-white;
  &:before{
    width:40px;
    height:40px;
    line-height:40px;
    color: $brand-white;
  }
}
button.menu-item{
  padding:0 10px 0 40px;
  &:hover{
    text-shadow: 0 0 0 rgba(0,0,0,.0);
  }
}

//BUTTON STANDARDS
button, .button, .mdl-layout__drawer-button, .gform_button{
  @include transition(all, 0.3s);
  @include font-menu;
  position: relative;
  color: $brand-white;
  background-color: rgba($accent-color, .8);
  border-radius: 3px;
  overflow: hidden;
  border:none;
  box-shadow: 0px 1px 2px rgba(0,0,0,.5);
  padding: 0px;
  text-align: left;
  &:before, .material-icons{
    @include transition(all, 0.3s);
    position: absolute;
    text-align: center;
    display: block;
    color: $brand-white;
    font-size: 25px;
    top:0;
    left:0;
  }
  &:hover{
    background-color: rgba($accent-color, 1);
    box-shadow: 0 2px 3px rgba(0,0,0,.3);
    transform:scale(1.05, 1.05);
    text-shadow: 0px 1px 2px rgba(0,0,0,.5);
    &:before{
      font-size: 28px;
      text-shadow: 0px 1px 2px rgba(0,0,0,.5);
    }
  }
}
.gform_footer input.gform_button{
  width: 100% !important;
  max-width: 500px !important;
  height: 40px;
  line-height: 40px;
  padding: 0 16px;
  text-align: center;
  text-transform: uppercase;
  margin: auto !important;
  left: 50%;
  transform: translateX(-50%);
}