.fa:before{
  font-family: FontAwesome !important;
}
/*---------------------------
LOGGED IN ADMIN BAR ADJUSTMENTS
-----------------------------*/
body.admin-bar, .admin-bar .mdl-layout__header, .admin-bar .headroom, .admin-bar #mobile-Logo{
  top:32px !important;
  @include respond-to('sm') {
    top:45px;
  }
}
/*---------------------------
BODY BASICS
-----------------------------*/
body{
  height:100%;
  background-color: #eaeaea;
  @include font-body;
}
h1,h2,h3,h4,h5,h6{
  @include font-headline;
  margin-top: 1%;
  margin-bottom: 0;
  line-height:1;
  & a{
    color: $brand-alt;
  }
}
a{
  @include transition(all, 0.5s);
  text-decoration: none;
  color: $brand-alt;
  &:hover{
    text-decoration: none;
    color: $brand-secondary;
  }
}
p{
  margin-bottom: 1.3%;
}
.center-text{
  text-align: center;
}
/*---------------------------
MAIN CONTENT BASICS AND BREAK POINTS
-----------------------------*/
main.mdl-layout__content{
  @include transition(all, 0.5s);
  @include center-block;
  position: relative;
  margin: -15px auto 0;
  width: 100%;
  max-width: 1160px;
  @include respond-to('lg') {
    max-width: 1060px;
  }
  @include respond-to('md') {
    max-width: 960px;
  }
  @include respond-to('sm') {
    max-width: 94%;
  }
  @include respond-to('xs') {
    max-width: 94%;
  }
  .mdl-grid{
    padding:0;
    main.mdl-cell{
      padding:0;
      background-color: $brand-white;
      margin: 0 8px 0;
      .the_content{
        padding:40px;
        @include respond-to('sm') {
          padding:30px;
        }
        @include respond-to('xs') {
          padding:20px;
        }
        @include respond-to('m') {
          padding:15px;
        }
      }
      &.no_content{
        background-color: transparent;
        margin: -16px 8px 0;
        .page-header{
          padding: 20px 0 15px;
          h1{
            margin-top: 40px;
          }
        }
      }
    }
    section.mdl-cell{
      padding: 40px;
      //margin: 0;
    }
  }
}
.screen-reader-text{visibility: hidden;}
.s_icons{
  display: flex;
  .btn {
    width:40px;
    height:40px;
    line-height:40px;
    color: transparent;
    padding:0;
    margin:0 5px 0 0;
    &:before{
      width:40px;
      height:40px;
      line-height:40px;
    }
    &:hover{
      text-shadow: 0px 0px 0px rgba(0,0,0,.0);
    }
  }
}
.hours{
  text-align: center;
  padding:2px 20px 0;
  font-size: 18px;
  @extend .font-headline ;
  line-height: 40px;
  letter-spacing: .2px;
}
#bAddress{
  span{
    text-align: center;
    display: block;
    width:100%;
    padding:2px 0;
  }
}
.cm-figure {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.cm-figure iframe,
.cm-figure object,
.cm-figure embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#ic_modules img,
#ic_modules iframe,
#ic_modules object,
#ic_modules embed {
  max-width: 100%;
}
.embed-responsive iframe{
  width: 100%;
  height: 33vw;
  margin: 20px 0;
}

