.no-flexbox{
	.mdl-grid{
		@include clearfix();
	}
	.mdl-cell{
		display: block;
		float: left;
	}
	.mdl-layout__drawer{
		display: none;
	}
	.mdl-layout__header{
		background-color: rgba(0,0,0, 0.6);
	}
	.mdl-navigation{
		width: auto;
		float: right;
	}
	.menu-item{
		display: inline-block;
	}
	#mobile-Logo{
		display: none;
	}
	.mdl-card__media{
		display: block;
	}
	.pkg_options{
		display:none;
	}
	.sicon{
		display: block;
		float: left;
	}
	.mdl-data-table__cell--non-numeric.min-w{
		display: none;
	}
}



 
