// Colors - always set brand-primary, brand-secondary and brand-copy colors. Don't remove them


$yellow : #FFF300;
$brand-primary: $primary-color !default;
$brand-secondary: $secondary-color !default;
$brand-alt: $accent-color !default;
$brand-copy: $light-text-color !default;
$brand-white: $lightest !default;
$brand-black: $darkest !default;
$brand-light-gray: $lightest-gray !default;
$black-trans: rgba(#333, 0.7) !default;
$black-trans-dark: rgba(#111, 0.9) !default;

$color-action: $accent-color !default;

.txtshadoww--headline{
  text-shadow: 0 5px 10px rgba(#000, 0.9);
}
.txtshadoww--cardtitle{
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.7);
}