#ic_modules_wrap{
  padding: 0;
  margin: 0 auto 25px;
  #ic_modules{
    .ic-module{
      position: relative;
      background-color: $brand-white;
      padding:20px;
      margin:0;
      &.cm-spacer{
        padding:0 !important;
      }
      .cm-figure{
        @include transition(all, 0.5s);
        position: relative;
        width: 100%;
        background-size: cover;
        background-position: center center;
        padding: 35% 0;
        margin: 0;
        &:hover{
          transform: scale(1.02);
        }
        .figure-link{
          &:before{
            display: block;
            text-align: center;
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-50%, -50%);
            width: 90px;
            height:90px;
            background:rgba($brand-secondary, .6);
            color: rgba($brand-white, .9);
            line-height:90px;
            font-size: 70px;
            border-radius: 50%;
          }
          &:after{
            content: '';
            position: absolute;
            display: block;
            top:0;
            left: 0;
            bottom:0;
            right:0;
            width:100%;
            height:100%;
          }
          &:hover{
            &:before{
              background:rgba($brand-secondary, .9);
            }
          }
        }
      }
    }
    .ic-module.cm-bkg-trans{
      padding:20px 0;
      background-color: transparent;
      .cm-figure {
        -webkit-box-shadow: 0 3px 5px rgba(#000, .6);
        -moz-box-shadow: 0 3px 5px rgba(#000, .6);
        box-shadow: 0 3px 5px rgba(#000, .6);
      }
    }
    .ic-module.cm-bkg-trans.cm-text-dark{
      color: $primary-text-color;
    }
    .ic-module.cm-bkg-trans.cm-text-light{
      color: $brand-white;
      text-shadow: 0 1px 2px #000;
    }
    .ic-module.cm-posts{
      .cm-figure{
        padding: 50% 0;
        margin-bottom: 20px;
        .figure-link {
          &:before {
            top: 15px;
            right: 15px;
            left:auto;
            -webkit-transform: none;
            transform: none;
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 30px;
          }
        }
      }

    }
    .cm-video, .cm-image{
      .cm-text{
        margin-top: 25px;
      }
    }
    .cm-single{
      .cm-figure{
        padding: 25% 0;
        .figure-link{
          &:before{

          }
        }
      }
    }
    .cm-double{
      .figure-link{
        &:before{
          width: 60px !important;
          height:60px !important;
          line-height:60px !important;
          font-size: 50px !important;
        }
      }
    }
    .cm-triple{
      .figure-link{
        &:before{
          width: 50px !important;
          height:50px !important;
          line-height:50px !important;
          font-size: 40px !important;
        }
      }
    }
    @include respond-to('xs') {
      .cm-triple, .cm-double, .cm-triple {
        .figure-link {
          &:before {
            width: 50px !important;
            height:50px !important;
            line-height:50px !important;
            font-size: 40px !important;
          }
        }
      }
    }
  }

  .ic-module.mdl-cell--12-col,
  .ic-module.mdl-cell--8-col,
  .ic-module.mdl-cell--6-col,
  .ic-module.mdl-cell--4-col {
    position: relative;
  }
  .ic-module.mdl-cell--12-col.cm-bkg-trans{
    width:100%;
  }
  .ic-module.mdl-cell--12-col{
    width: 100%;
  }

  .ic-module.mdl-cell--8-col{
    width: 66.666666666666%;
    @include respond-to('sm') {
      width: 100%;
    }
  }
  .ic-module.mdl-cell--8-col.cm-bkg-trans{
    padding:30px !important;
  }

  .ic-module.mdl-cell--6-col{
    padding:30px !important;
    width: 50%;
    @include respond-to('xs') {
      width: 100%;
    }
  }
  .ic-module.mdl-cell--6-col.cm-bkg-trans{
    padding:30px !important;
  }

  .ic-module.mdl-cell--4-col{
    padding:20px !important;
    width: 33.333333333%;
    @include respond-to('sm') {
      width: 100%;
    }
  }
  .ic-module.mdl-cell--4-col.cm-bkg-trans{
    padding:20px !important;
  }

}
#ic_modules_wrap #ic_modules {
  .cm-spacer {
    display: block;
    position: relative;
    padding: 0;
    margin: 0;
    width:100%;
  }
}